.contactForm {
  .container {
    .submitButton {
      display: block;
      margin: 0 auto 3rem;
      padding: 1rem;
      width: 95%;

      text-align: center;
      text-decoration: none;
      font-family: 'Nunito', sans-serif;
      font-size: 1.25rem;
      font-weight: bold;

      transition: 0.2s;
      transition-timing-function: ease-in-out;

      color: #fff;
      background-color: #4d5eff;
      border: none;
      border-radius: 50px;
    }

    .submitButton:hover {
      background-color: #5767fe;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .submitButton:active {
      background-color: #6574f7;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .submitButton:focus {
      border: none;
      box-shadow: none;
    }
  }

  form {
    .fields {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      text-align: left;
      color: #000;
      font-size: 1.5rem;
      line-height: 1.25;
      font-family: 'Nunito', sans-serif;
    }

    label {
      display: block;
      font-size: 1.25rem;
      line-height: 1;
      padding-left: 0.25rem;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      margin-bottom: 0.25rem;
      font-size: 1.25rem;
      color: #000;
      background-color: #ececec;
      background-clip: padding-box;
      border: 2px solid #fff;
      border-radius: 10px;
      width: 100%;
    }

    input[type='text']:focus,
    input[type='email']:focus,
    textarea:focus {
      color: #000;
      background-color: #f3f3f3;
      outline: none;
      border: 2px solid rgb(179, 179, 179);
      box-shadow: none;
    }
  }

  .alertMessage {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem auto 0;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    width: 100%;

    // Yes, h4 is a class for the alert message box
    .h4 {
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
      font-weight: normal;

      a {
        font-weight: bold;
      }
    }
  }

  // 700px/43.75rem and above (Vertical tablets and large horizontal phones)
  @media screen and (min-width: 43.75rem) {
    .container {
      .submitButton {
        width: 15rem;
      }
    }
  }
}
